name: Build and Publish

on:
  push:
    branches:
      - main
  pull_request:

env:
  PROJECT_NAME: ${{ github.event.repository.name }}
  GO_VERSION: "1.25"

jobs:
  build-native:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - goarch: amd64
          - goarch: arm64
          - goarch: arm
            goarm: "7"
    container:
      image: golang:1.25-alpine
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build binary
        env:
          GOARCH: ${{ matrix.goarch }}
          GOARM: ${{ matrix.goarm }}
        run: |
          [ -n "$GOARM" ] && export GOARM
          OUTPUT_PATH="bin/linux/$GOARCH/app"
          mkdir -p $(dirname $OUTPUT_PATH)
          CGO_ENABLED=0 GOOS=linux GOARCH=$GOARCH go build -ldflags="-s -w" -o $OUTPUT_PATH .
          chmod +x $OUTPUT_PATH

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: binary-${{ matrix.goarch }}${{ matrix.goarm }}
          path: bin/
          retention-days: 1

  docker-multi-arch:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: build-native
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: binary-*
          path: bin/
          merge-multiple: true

      - name: Set execute permissions
        run: |
          find bin -type f -exec chmod +x {} \;
          ls -lR bin/

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.REGISTRY }}
          username: ${{ secrets.REGISTRY_USER }}
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Extract short SHA
        id: vars
        run: echo "short_sha=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          push: true
          tags: |
            ${{ secrets.REGISTRY }}/${{ env.PROJECT_NAME }}:${{ steps.vars.outputs.short_sha }}
            ${{ secrets.REGISTRY }}/${{ env.PROJECT_NAME }}:latest
